* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.conteudo {
    background: purple;
    text-align: center;
    margin: 10rem;
    padding: 2rem;
}

.conteudo__botoes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}